<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Flow.My.MySettings>
            <setting name="server" serializeAs="String">
                <value>192.168.0.26</value>
            </setting>
            <setting name="datenbank" serializeAs="String">
                <value>flow</value>
            </setting>
            <setting name="oddRowBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="evenRowBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="oddRowForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="evenRowForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedRowBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="selectetRowForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="startFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startKategorien" serializeAs="String">
                <value />
            </setting>
            <setting name="startPrios" serializeAs="String">
                <value />
            </setting>
            <setting name="startStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="fd" serializeAs="String">
                <value />
            </setting>
        </Flow.My.MySettings>
    </userSettings>
</configuration>