<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Flow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Flow.My.MySettings>
            <setting name="server" serializeAs="String">
                <value>192.168.0.134</value>
            </setting>
            <setting name="datenbank" serializeAs="String">
                <value>flow</value>
            </setting>
            <setting name="oddRowBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="evenRowBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="oddRowForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="evenRowForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedRowBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="selectetRowForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="startFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startKategorien" serializeAs="String">
                <value />
            </setting>
            <setting name="startPrios" serializeAs="String">
                <value />
            </setting>
            <setting name="startStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="fd" serializeAs="String">
                <value />
            </setting>
        </Flow.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
